#alerta, #decision{
  display: none;
  width: 400px;
  overflow: hidden;
  background: #42f4b6;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  animation: popup 0.4s linear;
}

@keyframes popup{
  0%{
    width: 300px;
    height: 50px;
  }
  50%{
    width: 500px;
    height: 200px;
  }
  100%{
    width: 400px;
  }
}

#alerta #icono-alerta, #decision #icono-decision{
   font-size: 40px;
   display: inline-block !important;
   margin: 20px 0;
}
#decision #icono-decision{
  font-size: 80px;
  color: #ffc400;
  margin-left: 18%;
  transform: translate(-50%, 0%);
}

#alerta #text-alerta, #decision #text-decision{
  color: #333;
}
#decision #text-decision{
  margin-top: 0;
}

#decision #decision-si, #decision #decision-no{
  width: 80px;
  height: 50px;
  font-size: 18px;
  color: white;
  padding: 0;
  cursor: pointer;
  display: inline-block !important;
  border: none;
  border-radius: 4px;
}

#decision #decision-si{
  background: #3498db;
  margin-right: 25%;
  transition: 0.6s;
}

#decision #decision-si:hover{
  background: #133246;
  transition: 0.6s;
}

#decision #decision-no{
  background: red;
  transition: 0.6s;
}

#decision #decision-no:hover{
  background: #5e0000;
  transition: 0.6s;
}